@charset "utf-8";

/*coffeeventures.html modifications*//*also remember, css effects are universal, so if another 
piece of code(ex-body) is the same, the css will also carry into that piece of code as well. keep in mind for the pages*/
html{
		background-image: url(coffeebeans.jpg);
	background-repeat: no-repeat;
  background-size: 100%;

}
body{
	margin-left: auto;
	margin-right: auto;
		background: rgba(191, 64, 64, 0.35);
	width: 100%;
	
}
img#nav {
	width: 5%;
}
header, ul, nav, li, a {
	box-sizing: border-box;
}
 ul.row {/* M5L03, will impact the website by allowing the website to be seen on a mobile phone. It compresses the navigation into the listing.*/
          display: none;
          position:absolute;
          width: 100%;
        
          
}
          
    a#icon:hover+ul.row, ul.row:hover {/*M5L04 helped to create a pulldown */
        display: block;
            
        
}
nav.horizontal {
    font-size: 1.2em;
    line-height: 2.2em;

       }
    ul.submenu  a{/* M5LO3, will impact the website by allowing the website to be seen on a mobile phone. It compresses the navigation into the listing.*/
       box-shadow: rgba(0, 0, 1, 0.7) 1px 1px 1px 1px;
          float: left;
          width: 100%;
          position: relative;
}
aside#Profile {
		float: right;
	clear: right;
	width: 60%;
	/*
		border: 2px solid black;
		-webkit-border-top-left-radius: 35px;
-webkit-border-top-right-radius: 15px;
-webkit-border-bottom-right-radius: 55px;
-webkit-border-bottom-left-radius: 15px;
-moz-border-radius-topleft: 35px;
-moz-border-radius-topright: 15px;
-moz-border-radius-bottomright: 55px;
-moz-border-radius-bottomleft: 15px;
border-top-left-radius: 35px;
border-top-right-radius: 15px;
border-bottom-right-radius: 55px;
border-bottom-left-radius: 15px;
	background-color: rgba(255, 210, 77, 0.62);*/
	  display: flex;
  flex-wrap: wrap;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  position:relative;
 left: 270px;
 bottom: 97px;
}

 img#profile {
	border: 2px solid black;
		width: 100%;
	-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
margin-left: 20px;
}


/*
figure#coff {

	-webkit-border-top-left-radius: 35px;
-webkit-border-top-right-radius: 15px;
-webkit-border-bottom-right-radius: 55px;
-webkit-border-bottom-left-radius: 15px;
-moz-border-radius-topleft: 35px;
-moz-border-radius-topright: 15px;
-moz-border-radius-bottomright: 55px;
-moz-border-radius-bottomleft: 15px;
border-top-left-radius: 35px;
border-top-right-radius: 15px;
border-bottom-right-radius: 55px;
border-bottom-left-radius: 15px;

}
figure#run {
	
	-webkit-border-top-left-radius: 35px;
-webkit-border-top-right-radius: 15px;
-webkit-border-bottom-right-radius: 55px;
-webkit-border-bottom-left-radius: 15px;
-moz-border-radius-topleft: 35px;
-moz-border-radius-topright: 15px;
-moz-border-radius-bottomright: 55px;
-moz-border-radius-bottomleft: 15px;
border-top-left-radius: 35px;
border-top-right-radius: 15px;
border-bottom-right-radius: 55px;
border-bottom-left-radius: 15px;

}*/
	
 figure#coff {
	width: 50%;
		text-align: center;
float: left;
clear: left;
	border-top: 2px solid black;
	
	
}
figure#run {
	width: 50%;
		text-align: center;
	float: right;
	clear: right;
	border-top: 2px solid black;
	
}
section#blog {
	    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}


aside, div#Coffee{
	color: black;
}

img#profile {
	width: 16%;
}
img#map1 {
		margin-left: auto;
	margin-right: auto;
	width: 60%;
		display: block;
}
img#map2 {
		margin-left: auto;
	margin-right: auto;
	width: 100%;
	display: block;
	border: 2px solid black;
}
img#IG,img#gfm, img#fb, img#utbe, img#pat {
	width: 12%;
}

h1, h3{
	text-align: center;
	font-style: italic;
}

section {
		margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 1.25em;
	font-weight: bold;
}
section.words {
	text-align: center;
	font-size: 1.23em;
	font-weight: bold;
}
h5 {
	font-size: 0.99em;
}
footer {
	
	width: 100%;
	
}

/*runblog.html styles*/


/*coffblog.html styles*/

/*About.html styles*/



/* ===============================
   Mobile Styles: 0px to 769px 
   ===============================
*/

/* ===============================
   Phone Styles: 0px to 480px 
   ===============================
*/
@media only screen and (max-width: 480px) {
	aside {
		display: none;
	}
	img#nav {
		width: 10%;
	}
}
/* ===============================
   Tablet Styles: 481px to 769px 
   ===============================
*/
@media only screen and (min-width: 481px){
	
}

/* ===============================
   pc Styles: 769px and above
   ===============================
*/

@media only screen and (min-width: 769px) {
a#icon {
	display: none;
	
}

}